<div class="mdl-card__title mdl-card--expand">
    <div class="mdl-typography--display-3"><%= shipments %></div>
  </div>
  <div class="mdl-card__supporting-text">
    Shipments
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      <%= status %>
    </a>
  </div>